body { /* Background image set up - sets the background for the entire page */
    background-image: url(homebk3.jpg); /* Loads IMG from file */
    background-repeat: no-repeat; /* Prevents IMG from repeating */
    background-size: cover; /* Cover the entire page with the IMG */ 
}

/* STYLE CSS SERVICES TAB*/

/* HEAD SECTION */
/**/
/* Set display for HEAD and elements content, in special spaces, aligments and margim */
.head {
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 50px;
    color: white;
    font-size: 20px;
}

/* Set up position and size for TITLE element inside head*/
.head ul {
    max-width: 1000px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

/* BOTTON SECTION */
/* Set BOTTON aligment/position inside head*/
.head li {
    margin-left: 80px;
}

/* Set BOTTON STYLE -  inside head*/
.head a {
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 3px 30px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: black; */
}

/* TITLE SECTION */
.tittle { /* Position */
    margin-top: 3%;
    }

/* Title - style settings */
/* Size; position; color */
.tittle h1 {
    font-size: 70px;
    margin-bottom: 2%;
    margin-left: 50px;
    color: white;
}

/* TEXT below title - style settings */
/* Size; position; color */
.textservice p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 1.8;
    max-width: 55%;
    text-align: justify;
    margin-bottom: 30px;
    color: whitesmoke;
    margin-left: 3%;
}

/* COLLUMNS SECTION*/
/* Create 3 equals columns that floats next to each other */
/* Size; position; color */
.column {
    color: whitesmoke;
    background: black;
    float: right;
    width: 20%;
    padding: 5%;
}
.column h2 {
    text-align: left;
    font-size: 30px;
}
.column li {
    text-align: justify;
    font-size: 25px;
}
.column p {
    text-align: justify;
    font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
 }
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 1000px) {
.column {
width: 100%;
} }

/* EVENT SECTION*/
/* Text style, size; position; color */
.events {
    color: aliceblue;
    margin: 3%;
    font-size: 25px;
    display: block;    
}

/* MEDIA*/
/* Apparence, position, size */
.media iframe {
    float: left;
    padding: 20px;
    border: none;
}

/* SUBMISSION SECTION */
/* 
/* Botton position;*/
.submission-service {
    margin: 3%;
}

/* Botton style - size; corners; position; color */
.submission-service a {
    margin-top: 5%;
    text-decoration: none;
    color: whitesmoke;
    background-color: blue;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 6px;
}

/* FOOTER SECTION */
/* 
/* text position; size; margin display */
.footer {
    color: aliceblue;
    float: left;
    size: 12px;
    margin-left: 3%;
    margin-bottom: 2%;
} 
/* FOOTER text color*/
.footer a {
    color: aliceblue;
}